.box{
padding: 80px;
alignment: center;
width:400px;
height:500px;
border: 1px solid gray;
background:background: #00F260;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
box-shadow: 7px 7px 5px -1px
}
h1 {
 text-transform:uppercase;
}
