.image_container{
 padding:40px;
  background-color:#ffff1f;
  margin:10px;
}
h1{
  background-color:maroon;
  color:#FFFF00;>
}
.img_container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img_container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
